{ 
  "extends": ["airbnb"],
  "globals": {
    "d3": false,
    "L": false,
    "Image": false,
    "window": false,
    "$": false,
    "_": false
  },
  "rules": {
    "max-lines": "warn",
    "no-console":"off",
    "no-unused-vars": "warn",
    "no-param-reassign": "off"
  }
}