html, body {
  margin: 0;
  font: 13px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #666;
}

main {
  width: 100%;
  height: 100%;
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/* HEADER */

header {
  height: 65px;
}

/* GENERAL LAYOUTS */
.panel-toggle {
  position: absolute;
  background-color: white;
  z-index: 400;
  height: 20px;
  padding: 10px 20px;
  cursor: pointer;
  line-height: 20px;
  font-weight: bold;
}

.panel-toggle > * {
  display: inline-block;
  vertical-align: middle;
}

.panel-toggle span {
  margin-left: 15px;
}

.panel-toggle > i {
  float: right;
}

.panel-toggle i.open {
  display: none;
}

.panel.collapsed .panel-toggle i.close {
  display: none;
}

.panel.collapsed .panel-toggle i.open {
  display: inline-block;
}

/* TIMELINE */

#timeline {
  height: 50px;
  padding: 0 30px;
}

.year-stepper, .timeline {
  display: inline-block;
  vertical-align: middle;
}

.year-stepper {
  width: 140px;
  margin-right: 20px;
}

.year-stepper > * {
  display: inline-block;
  vertical-align: middle;
}

.year {
  font-size: 34px;
  font-weight: bold;
  color: #07407B;
}

.year-stepper i:before {
  color: #666;
  border-radius: 50%;
  border: 1px solid #666;
  width: 18px;
  line-height: 18px;
  cursor: pointer;
  margin: 0 5px;
}

.year-stepper i:hover:before {
  color: #333;
  border-color: #333;
}

.year-stepper i.disabled:before, .year-stepper i.disabled:hover:before {
  color: #ccc;
  border-color: #ccc;
}

.timeline {
  position: relative;
  width: calc(100% - 160px);
  cursor: pointer;
}

.timeline-track {
  height: 30px;
  background-color: #CCC;
  border-radius: 5px;
}

.timeline-slider {
  position: absolute;
  background-color: #ccc;
  width: 1px;
  height: 20px;
  border: 8px solid #666;
  border-radius: 3px;
  left: 0;
  top: -4px;
  margin-left: -8px;
}

.timeline-probe {
  position: absolute;
  background-color: #333;
  color: white;
  font-size: 12px;
  padding: 8px;
  width: 30px;
  border-radius: 5px;
  margin-left: -23px;
  top: -45px;
  text-align: center;
  display: none;
}

.ticks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
}

.tick {
  position: absolute;
  top: 0;
  width: 1px;
  border-left: 1px solid #07407B;
  height: 5px;
}

.tick-minor {
  height: 10px;
}

.tick span {
  font-weight: bold;
  position: absolute;
  display: block;
  color: #07407B;
  width: 40px;
  text-align: center;
  margin-left: -20px;
  top: 7px;
}

.tick:first-child, .tick:last-child {
  border: none;
}

.tick-major:first-child span {
  text-align: left;
  margin-left: 5px;
}

.tick-major:last-child span {
  text-align: right;
  margin-left: -45px;
}

/* MAP */

#map {
  flex: 1;
}

.leaflet-left .leaflet-control.leaflet-control-zoom {
  margin-left: 20px;
}

.leaflet-bottom .leaflet-control.leaflet-control-zoom {
  margin-bottom: 50px;
}

/* FILMSTRIP */

#filmstrip {
  height: 170px;
  position: relative;
}

#filmstrip.collapsed {
  height: 0px;
}

.filmstrip-toggle {
  width: 230px;
  top: -40px;
  border-top-right-radius: 5px;
}

/* LEGEND */

#legend {
  width: 280px;
  position: relative;
}

#legend.collapsed {
  width: 0;
}

.legend-toggle {
  width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 20px;
  left: 280px;
}

#legend.collapsed .legend-toggle {
  left: 0;
  width: 160px;
}

.legend-toggle i.icon-list-bullet {
  float: none;
  display: none;
}

#legend.subsequent.collapsed .legend-toggle {
  width: 10px;
}

.legend-toggle span {
  display: none;
}

#legend.collapsed .legend-toggle span, #legend.collapsed .legend-toggle i.icon-list-bullet{
  display: inline-block;
}

#legend.subsequent .legend-toggle span, #legend.subsequent .legend-toggle i.icon-angle-double-right {
  display: none;
}