html, body {
  margin: 0;
  font: 13px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  height: 65px;
}

/* TIMELINE */

#timeline {
  height: 50px;
  padding: 0 30px;
}

.year-stepper, .timeline {
  display: inline-block;
  vertical-align: middle;
}

.year-stepper {
  width: 140px;
  margin-right: 20px;
}

.year-stepper > * {
  display: inline-block;
  vertical-align: middle;
}

.year {
  font-size: 34px;
  font-weight: bold;
  color: #07407B;
}

.year-stepper i:before {
  color: #666;
  border-radius: 50%;
  border: 1px solid #666;
  width: 18px;
  line-height: 18px;
  cursor: pointer;
  margin: 0 5px;
}

.year-stepper i:hover:before {
  color: #333;
  border-color: #333;
}

.year-stepper i.disabled:before, .year-stepper i.disabled:hover:before {
  color: #ccc;
  border-color: #ccc;
}

.timeline {
  position: relative;
  width: calc(100% - 160px);
  cursor: pointer;
}

.timeline-track {
  height: 30px;
  background-color: #CCC;
  border-radius: 5px;
}

.timeline-slider {
  position: absolute;
  background-color: #ccc;
  width: 1px;
  height: 20px;
  border: 8px solid #666;
  border-radius: 3px;
  left: 0;
  top: -4px;
  margin-left: -8px;
}

.timeline-probe {
  position: absolute;
  background-color: #333;
  color: white;
  font-size: 12px;
  padding: 8px;
  width: 30px;
  border-radius: 5px;
  margin-left: -23px;
  top: -45px;
  text-align: center;
  display: none;
}

.ticks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
}

.tick {
  position: absolute;
  top: 0;
  width: 1px;
  border-left: 1px solid #07407B;
  height: 5px;
}

.tick-minor {
  height: 10px;
}

.tick span {
  font-weight: bold;
  position: absolute;
  display: block;
  color: #07407B;
  width: 40px;
  text-align: center;
  margin-left: -20px;
  top: 7px;
}

.tick:first-child, .tick:last-child {
  border: none;
}

.tick-major:first-child span {
  text-align: left;
  margin-left: 5px;
}

.tick-major:last-child span {
  text-align: right;
  margin-left: -45px;
}

/* MAP */

#map {
  flex: 1;
}

/* FILMSTRIP */

#filmstrip {
  height: 170px;
}