/* SLIDER */



/* Buncha mouseover styles */



@media (max-height: 700px) {
  #intro h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 10px auto;
  }

  .era-description {
    margin: 10px auto;
  }

  .era-tag {
    margin: 5px 20px;
  }
}

@media (max-width: 1000px) {
  .era-description {
    width: 90%;
    font-size: 18px;
    line-height: 22px;
  }

  .disclaimer {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 900px) {
  .era-description {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 700px) {

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .flex-column {
    position: relative;
  }
  
  /*HEADER*/

  header {
    position: absolute;
    padding: 0;
    width: 100%;
  }

  #eras-button, #search-button {
    font-size: 24px;
    padding: 12px 5px;
    line-height: 24px;
    z-index: 2501;
    position: absolute;
  }

  header > #eras-button {
    margin-left: 15px;
  }

  header > a {
    display: none;
  }

  #top-right-buttons, #add-memory-button {
    display: none;
  }

  #search-button {
    right: 0;
    top: 0;
    margin-right: 0;
  }

  .mobile-header {
    height: 50px;
    width: 100%;
    color: #07407B;
    background-color: white;
    font-size: 20px;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .mobile-header .icon-times {
    color: #95989A;
    float: right;
  }

  .mobile-header span {
    font-weight: bold;
  }

  /* INTRO/ERAS */

  .eras #intro {
    top: 0;
    height: 100%;
  }

  .title-container {
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    padding: 10px;
  }

  .start .title-container {
    height: auto;
  }

  .title-container div {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .start .title-container div {
    display: none;
  }

  #intro h1 {
    font-size: 46px;
    line-height: 60px;
    white-space: normal;
  }

  .era-years {
    font-size: 22px;
  }

  .era-description {
    width: 90%;
    font-size: 16px;
    line-height: 18px;
  }

  .go-button {
    padding: 15px 30px;
    margin-top: 25px;
    left: 5%;
    width: 90%;
    box-sizing: border-box;
  }

  .era-dropdown {
    margin: 20px auto;
  }

  /*TIMELINE*/

  .year-stepper, .timeline {
    display: block;
  }

  #timeline {
    padding: 0;
    background-color: white;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 2500;
    text-align: center;
    box-sizing: border-box;
  }

  .timeline-inner {
    padding: 15px;
    background-color: rgba(255, 255, 255, .8);
    height: 50px;
    width: 100%;
    box-sizing: border-box;
  }

  .timeline {
    width: 100%;
  }

  .timeline-track {
    height: 20px;
  }

  .timeline-slider {
    height: 12px;
  }

  #timeline .era {
    margin-top: 15px;
  }

  .year-stepper {
    margin: auto;
    height: 35px;
    padding-top: 15px;
  }

  .ticks span{
    display: none;
  }

  .year {
    font-size: 20px;
    margin: 0 10px;
    width: 80px;
  }

  /* SEARCH */

  #search {
    position: absolute;
    z-index: 2600;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    display: block;
  }

  #legend.search {
    height: 100%;
  }

  #legend.search #search{
    display: block;
  }

  #search input {
    width: 100%;
    border-radius: 0;
    border: none;
    height: 50px;
    padding-left: 50px;
    box-sizing: border-box;
  }

  #search .icon-left-big {
    font-size: 24px;
    padding: 12px 5px;
    line-height: 24px;
    z-index: 2501;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  #search > .search-results {
    top: 50px;
    left: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .search-results .icon-times {
    display: none;
  }

  .results-group > span {
    border-radius: 0;
  }

  .search-result > span {
    width: calc(100% - 80px);
  }

  /*LEGEND*/

  #legend, #legend.collapsed {
    width: 100%;
    position: absolute;
    z-index: 2600;
  }

  #legend.collapsed {
    z-index: auto;
  }

  .eras #legend, .eras #legend.collapsed {
    z-index: 0;
  }

  .legend-contents{
    background-color: white;
  }

  #legend.collapsed .legend-contents, .legend-toggle {
    display: none;
  }

  #legend.collapsed .mobile-header {
    display: none !important;
  }

  #legend.collapsed .legend-toggle, #legend.subsequent.collapsed .legend-toggle {
    display: block;
    right: 15px;
    width: 15px;
    left: auto;
    border-radius: 5px;
    top: 110px;
    padding: 10px 15px
  }

  .plans-dropdown {
    left: 5%;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    font-size: 16px;
  }

  /* FILMSTRIP */

  .eras #filmstrip {
    display: none !important;
  }

  #filmstrip, #filmstrip.collapsed {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2600;
  }

  #filmstrip.collapsed {
    z-index: auto;
  }

  .filmstrip-toggle {
    width: 46px;
    min-width: 0;
    top: auto;
    bottom: 50px;
    right: 15px;
    border-radius: 50%;
    padding: 0;
    height: 46px;
    line-height: 15px;
    text-align: center;
    font-size: 24px;
    background-color: #337164;
    color: white;
  }

  .filmstrip-toggle i {
    font-size: 24px;
    line-height: 50px;
    width: 46px;
  }

  #filmstrip .raster-type-labels, #filmstrip .raster-types {
    display: none;
  }

  #filmstrip.partial .raster-types {
    display: block;
    position: absolute;
    z-index: 2500;
    right: 15px;
    bottom: 115px;
  }

  #filmstrip.partial .raster-type-labels {
    display: block;
    position: absolute;
    z-index: 2500;
    right: 20px;
    bottom: 135px;
    margin-right: 50px;
  }

  .raster-type-labels span.disabled {
    display: none;
  }

  .raster-types i.disabled {
    display: none;
  }

  .raster-types i, .raster-types i.selected {
    width: 46px;
    border-radius: 50%;
    padding: 0;
    height: 46px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background-color: white;
    color: #666;
    margin: 10px 0;
  }

  .raster-type-labels span {
    display: block;
    background: rgba(255,255,255,.8);
    margin-top: 28px;
    padding: 5px 8px;
    border-radius: 3px;
    text-align: right;
  }

  .filmstrip-thumbnail {
    width: 90px;
    height: 90px;
    background-size: cover;
  }

  /* LIGHTBOX */
  .lightbox .content {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .lightbox .content > div.all-thumbs {
    width: 100%;
    max-height: 100%;
  }

  /* PROBE */
  #fixed-probe {
    position: relative;
    top: auto;
    left: 0;
    border-radius: 0;
    box-shadow: none;
  }

  #fixed-probe .fixed-image {
    width: 160px !important;
    margin: 0;
    background-size: cover;
    display: inline-block;
    vertical-align: bottom;
  }

  #fixed-probe hr {
    display: none;
  }

  #fixed-probe .blue-button {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
  }

  #fixed-probe .blue-button.slider-toggle {
    width: auto;
  }

  #overlay-info {
    top: 160px;
    right: 15px;
  }

  .probe-hint {
    left: 30px;
    right: auto;
    top: 110px;
  }

  .slider, .button.red {
    display: none;
  }

  .slider {
    width: 100%;
    margin: 20px 0;
  }

  @media (max-height: 600px) {
    #intro h1 {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

#search {
  display: none;
}

#legend.search #search {
  display: block;
}

.search-input-container,
.search-button-container {
  display: flex;
  align-items: center;
  height: 60px;
}

#legend.search .search-button-container {
  display: none;
}


@media (min-width: 701px) {
  #search .icon-left-big {
    display: none;
  }
}

.legend-category[data-category="search"] {
  margin-bottom: 0px;
}

.search .legend-category[data-category="views"],
.search .legend-category[data-category="feature"] {
  display: none !important;
}