.intro-pattern {
  position: absolute;
  width: 100%;
  height: 85px;
  background-image: url('../img/pattern.png');
  background-size: cover;
  z-index: -100;
  display: none;
}

.eras .intro-pattern {
  display: block;
}

.eras #filmstrip {
  position: absolute;
  bottom: 0;
  z-index: 2000;
  width: 100%;
}

.eras #timeline {
  visibility: hidden;
}

.eras #intro {
  display: block;
  position: absolute;
  z-index: 1999;
  height: calc(100% - 70px);
  top: 70px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 60%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 60%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.eras .start-intro, .eras.start .era-intro {
  display: none;
}

.eras.start .start-intro {
  display: block;
}

.eras.start #filmstrip {
  display: none !important;
}

.eras .leaflet-control-container {
  display: none;
}

.eras.start #eras-button {
  visibility: hidden;
}

#eras-button {
  color: $dark-green;
  font-weight: bold;
  font-size: 15px;
  background: rgba(255,255,255,.9);
  padding-left: 30px;
  padding-right: 30px;
}

#eras-button i {
  margin-right: 5px;
}

.era-description {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  width: 75%;
  margin: 30px auto;
  line-height: 24px;
  color: #666;
}

.disclaimer {
  font-size: 12px;
  line-height: 14px;
  padding: 20px;
  position: absolute;
  bottom: 0px;
}

.eras .disclaimer {
  display: none;
}

.eras.start .disclaimer {
  display: block;
}

.era-description-inner {
  width: 100%;
  display: inline-block;
  white-space: normal;
}

.era-description-container {
  white-space: nowrap;
}

.title-container {
  width: 100%;
  white-space: nowrap;
}

#intro h1 {
  font-size: 65px;
  font-weight: 200;
  color: $dark-green;
  text-align: center;
  line-height: 75px;
  margin: 20px auto;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  font-family: 'Helvetica Neue', Helvetica, coolvetica, Arial, sans-serif;
  font-style: normal;
}

.intro-buttons {
  text-align: center;
  display: flex;
  justify-content: center;
}

.intro-buttons > * {
  // display: inline-block;
  // vertical-align: middle;
  margin: 0 10px;
}

.era-dropdown {
  position: relative;
  // width: 197px;
  height: 60px;
  display: none;
}

.eras.start .era-dropdown {
  display: inline-block;
}

.era-dropdown select {
  position: absolute;
}

.era-dropdown select, .era-dropdown div {
  // position: absolute;
  left: 0;
  // width: 165px;
  height: 54px;
  padding: 0 25px 0 32px;
  -webkit-appearance: none;
  background: transparent;
  line-height: 30px;
  color: $dark-green;
  border: none;
  outline: none;
  cursor: pointer;
}

.era-dropdown select {
  line-height: 0;
  box-sizing: content-box;
}

.era-dropdown div {
  font-size: 20px;
  pointer-events: none;
  border: 2px solid $dark-green;
  border-radius: 5px;
  text-align: left;
  line-height: 54px;
  background: white;
}

.era-dropdown select option {
  font-size: 14px;
}

.go-button {
  background-color: $dark-green;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 20px 30px;
  cursor: pointer;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Arial Narrow", "Arial", sans-serif;
}

.go-button.era {
  width: 135px;
}

#era-stepper {
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.era-years-container {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.era-years {
  color: $dark-green;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  line-height: 34px;
}

#era-stepper i {
  color: #666666;
  border-radius: 25px;
  border: 1px solid #666666;
  line-height: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#era-stepper i:before {
  width: auto;
}

#era-stepper i.disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: default;
}

#era-stepper > * {
  display: inline-block;
  vertical-align: middle;
}
