header {
  height: $header-height;
  padding: 0 0px;
  font-size: 15px;
}

.language-dropdown-button {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  height: 66px;
  padding: 0px 30px;
  background: rgba(255, 255, 255, .9);
  z-index: 4000;
  cursor: pointer;
}

.language-dropdown-option,
.language-dropdown-button {
  font-weight: bold;
  color: $dark-green;
}

.language-dropdown-option--hidden {
  display: none;
}

.language-dropdown-button:hover,
.language-dropdown-option:hover {
  color: black;
}

.language-dropdown-content {
  position: absolute;
  top: 70px;
  left: 30px;
  // width: 150px;
  z-index: 4000;
  display: none;
  cursor: pointer;
}

.language-dropdown-content--on {
  display: block;
}

.language-dropdown {
  visibility: hidden;
}

.start .language-dropdown {
  visibility: visible;
}

.language-dropdown--off {
  visibility: hidden !important;
}

.eras header {
  height: 85px;
}

header > *, #controls-right > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 65px;
  cursor: pointer;
}

#controls-right {
  height: 65px;
  display: flex;
  align-items: center;
}

header > a {
  display: none;
}

.eras.start header > a{
  display: inline-block;
  margin-right: 20px;
}

.eras .logo {
  height: 80px;
}

#controls-right {
  float: right;
}

#add-memory-button, #search-button {
  margin-right: 30px;
}


#top-right-buttons {
  display: flex;
  margin-right: 30px;
}

#top-right-buttons > a {
  color: white;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  background-color: #999;
  border-radius: 3px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#top-right-buttons > i:before, #top-right-buttons > a i:before {
  width: 16px;
}

#top-right-buttons > i.icon-circle-notch {
  color: #999;
  background-color: white;
}
.register-button > i {
  margin-right: 5px;
}
.register-button {
  color: $dark-green;
  font-size: 15px;
  font-weight: bold;
  margin-right: 35px;
}

.eras #top-right-buttons, .eras #search-button, .eras .register-button {
  display: none !important;
}