.lightbox {
  position: absolute;
  z-index: 3000;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(255,255,255,.9);
  justify-content: center;
  align-items: center;
  display: none;
}

.lightbox .content {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.lightbox.register .content {
  padding: 0px;
  padding-bottom: 20px;
}

.lightbox .content > div {
  max-height: 80%;
  overflow: auto;
}

/*.lightbox .content p {
  margin: 10px 0;
}*/

.lightbox .content > div.all-thumbs {
  width: 756px;
}

.lightbox .content .icon-times {
  position: absolute;
  top: 10px;
  right: 10px;
}

.lightbox-image {
  margin: 20px auto;
}

.lightbox a.image {
  width: 150px;
  margin: 0 0 10px 10px;
}

.image-title {
  font-weight: bold;
}

.image-credit {
  font-style: italic;
}

