@media (max-width: $mobile-width) {
  #search {
    // position: absolute;
    // z-index: 2600;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    background: #eee;
    display: none;
  }

  #legend.search {
    height: 100%;
  }

  #legend.search #search{
    display: block;
  }

  .search-button-container {
    height: $mobile-search-height;
    z-index: 3000;
    background: white;
    position: relative;
  }





  #search-button {
    // height: $mobile-search-height;
    // position: absolute;
    // left: 0px;
    // top: 0px;
  }

  .search-input-container {
    z-index: 3500;
    background: white;
  }

  #search input {
    width: 100%;
    border-radius: 0;
    border: none;
    height: 50px;
    padding-left: 50px;
    box-sizing: border-box;
  }

  #search .icon-left-big {
    font-size: 24px;
    padding: 12px 5px;
    line-height: 24px;
    z-index: 2501;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  #search > .search-results {
    top: 50px;
    left: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .search-results .icon-times {
    display: none;
  }

  .results-group > span {
    border-radius: 0;
  }

  .search-result > span {
    width: calc(100% - 80px);
  }

  .leaflet-draw-tooltip {
    display: none;
  }
}