@media (max-width: $mobile-width) {
  .eras #filmstrip {
    display: none !important;
  }

  #filmstrip, #filmstrip.collapsed {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2600;
  }

  #filmstrip.collapsed {
    z-index: auto;
  }

  .filmstrip-toggle {
    width: 46px;
    min-width: 0;
    top: auto;
    bottom: 50px;
    right: 15px;
    border-radius: 50%;
    padding: 0;
    height: 46px;
    line-height: 15px;
    text-align: center;
    font-size: 24px;
    background-color: $dark-green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filmstrip-toggle i {
    font-size: 24px;
    line-height: 50px;
    width: 46px;
  }

  #filmstrip .raster-type-labels, #filmstrip .raster-types {
    display: none;
  }

  #filmstrip.partial .raster-types {
    display: block;
    position: absolute;
    z-index: 2500;
    right: 15px;
    bottom: $mobile-filmstrip-button-bottom;
  }

  #filmstrip.partial .raster-type-labels {
    display: block;
    position: absolute;
    z-index: 2500;
    right: 20px;
    bottom: $mobile-filmstrip-label-bottom;
    margin-right: 50px;
  }

  .raster-type-labels span.disabled {
    display: none;
  }

  .raster-types i.disabled {
    display: none;
  }

  .raster-types i, .raster-types i.selected {
    width: 46px;
    border-radius: 50%;
    padding: 0;
    height: 46px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background-color: white;
    color: #666;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .raster-type-labels span {
    display: block;
    background: rgba(255,255,255,.8);
    margin-top: 28px;
    padding: 5px 8px;
    border-radius: 3px;
    text-align: right;
  }

  .filmstrip-thumbnail {
    width: 90px;
    height: 90px;
    background-size: cover;
  }
  @media (min-width: $mobile-landscape-min-width) {
    $shift-buttons: 20px;
    #filmstrip.partial .raster-types {
      bottom: $mobile-filmstrip-button-bottom - $shift-buttons;
    }
  
    #filmstrip.partial .raster-type-labels {
      bottom: $mobile-filmstrip-label-bottom - $shift-buttons;
    }
  }
}