@media (max-width: $mobile-width) {
  #fixed-probe {
    position: relative;
    top: auto;
    left: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .fixed-probe-stepper-container > i {
    margin-right: 10px;
  }

  #fixed-probe .fixed-image {
    // width: 160px !important;
    margin-top: 0px;
    margin-bottom: 6px;
    background-size: cover;
    display: inline-block;
    vertical-align: bottom;
  }

  #fixed-probe hr {
    display: none;
  }

  #fixed-probe .blue-button {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
  }

  #fixed-probe .blue-button.slider-toggle {
    width: auto;
    height: 16.8px;
  }
  .blue-button.slider-toggle > i::before {
    margin-top: 1px;
  }

  #overlay-info {
    top: 160px;
    right: 15px;
    
    padding-left: 13px;
    padding-right: 13px;

  }

  

  .slider, .button.red {
    display: none;
  }

  .slider {
    width: 100%;
    margin: 20px 0;
  }

  .probe-area--mobile {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    // width: 15px;
    left: auto;
    border-radius: 5px;
    padding: 10px 14px;
    top: $legend-toggle-mobile-top;
    background-color: white;
    height: 20px;
    line-height: 20px;
    // box-shadow: 4px 0 4px rgba(0,0,0,.1);
    box-shadow: 0 0 8px rgba(0,0,0,.25);
  }

  .searching-area .probe-area--mobile {
    color: white;
    background: $dark-button-background;
  }

  .probe-hint--mobile,
  .probe-area-hint {
    position: absolute;
    left: 30px;
    top: $legend-toggle-mobile-top;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, .9);
    color: white;
    font-style: italic;
    border-radius: 5px;
    box-shadow: 4px 0 4px rgba(0,0,0,.1);
    padding-left: 14px;
    padding-right: 14px;
  }

  .probe-area--mobile > i {
    font-size: $standard-icon-size;
  }

  .probe-area-hint {
    z-index: 2000;
    display: none;
  }

  .searching-area .probe-area-hint {
    display: flex;
  }

  .fixed-probe-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $mobile-landscape-min-width) {
    #fixed-probe {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 50%;
      max-height: calc(100% - #{$mobile-header-height + $mobile-timeline-height + (2 * $fixed-probe-padding)});
      overflow: scroll;
    }
  }
}