@media (max-height: 700px) {
  #intro h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 10px auto;
  }

  .era-description {
    margin: 10px auto;
  }

  .era-tag {
    margin: 5px 20px;
  }
}

@media (max-width: 1000px) {
  .era-description {
    width: 90%;
    font-size: 18px;
    line-height: 22px;
  }

  .disclaimer {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 900px) {
  .era-description {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: $mobile-width) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .flex-column {
    position: relative;
  }
  
  /*HEADER*/

  header {
    position: absolute;
    padding: 0;
    width: 100%;
  }

  #eras-button, #search-button {
    font-size: 24px;
    padding: 12px 5px;
    line-height: 24px;
    z-index: 2501;
    position: absolute;
  }

  header > #eras-button {
    margin-left: 15px;
  }

  header > a {
    display: none;
  }

  #top-right-buttons, #add-memory-button {
    display: none;
  }

  // #search-button {
  //   right: 0;
  //   top: 0;
  //   margin-right: 0;
  // }

  .mobile-header {
    height: $mobile-header-height;
    width: 100%;
    color: #07407B;
    background-color: white;
    font-size: 20px;
    line-height: $mobile-header-height;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .mobile-header .icon-times {
    color: #95989A;
    float: right;
  }

  .mobile-header span {
    font-weight: bold;
  }

  /* INTRO/ERAS */

  .eras #intro {
    top: 0;
    height: 100%;
  }

  .title-container {
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    padding: 10px;
  }

  .start .title-container {
    height: auto;
  }

  .title-container div {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .start .title-container div {
    display: none;
  }

  #intro h1 {
    font-size: 46px;
    line-height: 60px;
    white-space: normal;
  }

  .era-years {
    font-size: 22px;
  }

  .era-description {
    width: 90%;
    font-size: 16px;
    line-height: 18px;
  }

  .intro-buttons {
    display: flex;
    // width: 100%;
    // align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .go-button {
    // padding: 15px 30px;
    // border: 1px solid $dark-green;
  }

  .era-dropdown {
    height: 80px;
  }

  .era-dropdown div,
  .go-button {
    width: auto;
    // height: auto;
    height: 80px;
    line-height: normal;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
  }

  .era-dropdown select {
    height: 100%;
  }

  .era-dropdown div {
    // padding: 15px 30px;
  }


  .language-dropdown-option {
    font-weight: normal;
  }

  .language-dropdown-button {
    padding-right: 0px;
    padding-left: 15px;
    font-size: 18px;
    color: $dark-green !important;
  }

  .language-dropdown-content {
    left: 20px;
  }

  @media (min-width: $mobile-landscape-min-width) {
    .era-dropdown div,
    .go-button {
      height: 57px;
      padding: 15px 15px;
    }

    .intro-buttons {
      margin-top: 10px;
    }

    .era-description {
      margin-top: 0px;
    }

    .title-container {
      height: 150px;
    }
  }
  
  @media (max-height: 600px) {
    #intro h1 {
      font-size: 50px;
      line-height: 50px;
    }
  }

  #era-stepper i {
    width: 30px;
    height: 30px;
  }
}