@media (max-width: $mobile-width) {
  #fixed-probe {
    position: relative;
    top: auto;
    left: 0;
    border-radius: 0;
    box-shadow: none;
  }

  #fixed-probe .fixed-image {
    width: 160px !important;
    margin: 0;
    background-size: cover;
    display: inline-block;
    vertical-align: bottom;
  }

  #fixed-probe hr {
    display: none;
  }

  #fixed-probe .blue-button {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
  }

  #fixed-probe .blue-button.slider-toggle {
    width: auto;
  }

  #overlay-info {
    top: 160px;
    right: 15px;
    
    padding-left: 13px;
    padding-right: 13px;

  }

  .probe-hint {
    left: 30px;
    right: auto;
    top: 110px;
  }

  .slider, .button.red {
    display: none;
  }

  .slider {
    width: 100%;
    margin: 20px 0;
  }

  .probe-area--mobile {
    position: absolute;
    display: block;
    right: 15px;
    // width: 15px;
    left: auto;
    border-radius: 5px;
    padding: 10px 14px;
    top: $legend-toggle-mobile-top;
    background-color: white;
    height: 20px;
    line-height: 20px;
    box-shadow: 4px 0 4px rgba(0,0,0,.1);
  }

  .overlay .probe-area--mobile {
    // top: $legend-toggle-mobile-top + 50;
  }
}