$hint-probe-height: 36px;

.probe-hint-container {
  position: absolute;
  right: 30px;
  border-radius: 0px;
  top: 136px;
  background-color: rgba(51, 51, 51, .9);
  box-shadow: 0 0 8px rgba(0,0,0,.25);
  height: $hint-probe-height;
  align-items: center;
  display:-webkit-flex;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.probe-hint-text {
  font-style: italic;
}

.overlay .probe-hint-container {
  right: 100px;
}

.probe-hint {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 699;
  color: white;
  background-color: rgba(0, 0, 0, 0) !important;
}

.searching-area .probe-hint {
  display: none;
}

.searching-area .probe-hint-container {
  background-color: rgba(51, 51, 51, 0);
}

.probe-area {
  padding-left: 15px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: white;
  border-radius: 5px;
  border: solid white 1px;
  height: $hint-probe-height;
  display: flex;
  align-items: center;
  color: #666666;
  font-weight: bold;
  cursor: pointer;
}



.probe-hint-container.probe-hint--no-hint {
  border-radius: 5px;
}

// hide hint
.probe-hint-container.probe-hint--no-hint .probe-hint {
  display: none;
}

// minimize area search
.probe-hint-container.probe-hint--min-area .probe-area-text {
  display: none;
}

.searching-area .probe-area {
  color: white;
  background: $dark-green;
  border: solid $dark-green 1px;
}




.probe-hint > .icon-click-to-explore {
  font-size: $standard-icon-size;
}

.probe-area > .icon-times {
  display: none;
  margin-left: 20px;
  font-size: $standard-icon-size;
}

.probe-area > .icon-search-area {
  margin-right: 5px;
  font-size: $standard-icon-size;
}

.searching-area .probe-area > .icon-times {
  display: block;
}

.probe-area:hover {
  color: #333;
}

.probe-area-bug-fix {
  color: white;
}

.searching-area .probe-area-bug-fix {
  color: $dark-green;
}

.eras .probe-hint,
.eras .probe-area {
  display: none;
}

.probe {
  display: none;
  position: absolute;
  z-index: 3001;
}

#fixed-probe {
  z-index: 2999;
  top: 135px;
  right: 30px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
}

#fixed-probe.map-feature {
  padding: 10px 40px 5px 20px;
}

#fixed-probe .icon-times {
  // position: absolute;
  // top: 5px;
  // right: 5px;
  // font-size: 100px;
}

.fixed-probe-title {
  font-weight: bold;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed-probe-title-right {
  display: flex;
  align-items: center;
}

.fixed-probe-title-right .icon-times {
  margin-left: 10px;
}

.fixed-probe-stepper-container {
  display: flex;
  margin-left: 10px;
}

.fixed-probe-stepper-container > i {
  cursor: pointer;
}

.fixed-probe-title.stepper {
  min-height: 25px;
}

.fixed-probe-title.stepper i {
  // float: right;
  cursor: pointer;
}

.fixed-probe-title.stepper i:hover:before {
  color: #333;
}

.fixed-probe-title i.icon-angle-right:before {
  margin-right: 0;
}

#fixed-probe .fixed-image {
  margin: 10px auto;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
}

#fixed-probe hr {
  margin: 15px 0;
  background: transparent;
  border-style: solid;
  border: none;
  border-top: 1px solid #ccc;
}

#filmstrip-probe .content {
  background-color: rgba(51, 51, 51, .9);
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  max-width: 150px;
}

#filmstrip-probe p {
  margin: 3px 0;
}

#filmstrip-probe .tail {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid rgba(51, 51, 51, .9);
  margin-left: calc(50% - 10px);
}

#map-probe {
  background-color: rgba(255,255,255,.8);
  border-radius: 5px;
  padding: 10px;
  max-width: 175px;
}

#map-probe strong {
  color: #333;
}

.map-probe-row:not(:last-child) {
  margin-bottom: 5px;
}

#overlay-info {
  display: none;
  align-items: center;
  position: absolute;
  right: 30px;
  border-radius: 5px;
  top: 135px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 2500;
  background-color: white;
  cursor: pointer;
  height: $hint-probe-height;
  border: solid white 1px;
  // box-shadow: 0 0 8px rgba(0,0,0,.25);
  box-shadow: 4px 0 4px rgba(0,0,0,.1);
}

.overlay-info--visible {
  display: flex !important;
}