.search-input {
  font-size: 15px;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 15px !important;
  outline: none;
  margin: 0;
  padding: 1px 5px;
  border: none !important;
  width: 100% !important;
  cursor: text;
}

.search-input-container .icon-search {
  margin-right: 15px;
}

#legend.search #search input, #legend.search #search > .search-go {
  display: inline-block;
}

#legend.search #controls-right .search-hide {
  display: none;
}

#search > .search-go {
  display: none;
  line-height: 30px;
  width: 30px;
  text-align: center;
  background-color: #999999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 2px;
}

#search > .search-results {
  /* position: absolute; */
  z-index: 700;
  /* top: 135px; */
  /* right: 30px; */
  background-color: white;
  width: 300px;
  display: none;
  line-height: 34px;
  border-radius: 0px;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
  max-height: calc(100% - 200px);
  overflow: auto;
}

.search-results .icon-times {
  position: absolute;
  right: 5px;
  color: white;
}

.results-group > span, .results-group > div {
  padding: 0 15px;
}

.results-group > span {
  color: white;
  background-color: #666;
  display: block;
}

.search-result {
  margin: 10px 0;
}

.search-result > span {
  display: inline-block;
  background-color: #EEEEEE;
  width: 190px;
  border-radius: 5px;
  padding: 10px 10px 10px 50px;
  line-height: 20px;
  text-indent: -20px;
  vertical-align: middle;
}

.search-result > span:hover {
  background-color: #ccc;
}

.search-result.selected > span {
  background-color: $dark-green;
  color: white;
}

.search-result .icon-down-dir, .search-result.expanded .icon-right-dir, .search-result .result-details {
  display: none;
}

.search-result.expanded .icon-down-dir {
  display: inline-block;
}

.search-result.expanded .result-details {
  display: block;
}

.result-details {
  padding: 0 10px 0 40px;
}

.result-details p {
  margin: 10px 0;
  font-weight: bold;
  line-height: 18px;
}

.result-details p span {
  font-weight: normal;
}

#search {
  display: none;
}

#legend.search #search {
  display: block;
}

.search-input-container,
.search-button-container {
  display: flex;
  align-items: center;
  height: 60px;
}
#search-button {
  margin-left: 15px;
  font-size: 15px;
}

#legend.search .search-button-container {
  display: none;
}

@media (min-width: 701px) {
  #search .icon-left-big {
    display: none;
  }
}