.search-input {
  font-size: 15px;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 15px !important;
  outline: none;
  margin: 0;
  padding: 1px 5px;
  border: none !important;
  width: 100% !important;
  cursor: text;
}

.search-input-container {
  display: none !important;
}

.search-input-container > i {
  margin-right: 15px;
}

#legend.search .search-input-container {
  display: flex !important;
}

#legend.collapsed .search-input-container,
#legend.collapsed .search-button-container {
  display: none;
}

#search > .search-results {
  z-index: 700;
  background-color: white;
  width: 100%;
  display: none;
  line-height: 34px;
  border-radius: 0px;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
  overflow: auto;
}

.search-results .icon-times {
  position: absolute;
  right: 5px;
  color: white;
}

.results-group > span, .results-group > div {
  padding: 0 15px;
}

.results-group > span {
  color: white;
  background-color: #666;
  display: block;
}

.search-result {
  margin: 10px 0;
  position: relative;
}

.search-result > span {
  display: inline-block;
  background-color: #EEEEEE;
  width: 150px;
  border-radius: 5px;
  padding: 10px 10px 10px 50px;
  line-height: 20px;
  text-indent: -20px;
  vertical-align: middle;
  cursor: pointer;
}

.search-result > span:hover {
  background-color: #ccc;
}

.search-result.selected > span {
  background-color: $dark-green;
  color: white;
}

.search-result .icon-down-dir, .search-result.expanded .icon-right-dir, .search-result .result-details {
  display: none;
}

.search-result.expanded .icon-down-dir {
  display: inline-block;
}

.search-result.expanded .result-details {
  display: block;
}

.search-result--thumbnail {
  display: flex;
  align-items: center;
}

.thumbnail-icon {
  position: absolute;
  left: 85px;
  top: 0px;
  width: 40px;
  height: 40px;
}

.search-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
  flex-shrink: 0;
}

.search-thumbnail-name {
  line-height: 18px;
  margin-left: 15px;
}

.result-details {
  padding: 0 10px 0 40px;
}

.result-details p {
  margin: 10px 0;
  font-weight: bold;
  line-height: 18px;
}

.result-details p span {
  font-weight: normal;
}

#search {
  display: none;
}

#legend.search #search {
  display: block;
}

.search-input-container,
.search-button-container {
  display: flex;
  align-items: center;
  height: $search-input-height;
}
#search-button {
  margin-left: 15px;
  font-size: 15px;
}

#legend.search .search-button-container {
  display: none;
}





@media (min-width: 701px) {
  #search .icon-left-big {
    display: none;
  }
}
