$mobile-width: 700px;
$mobile-landscape-min-width: 415px;
$mobile-portrait-max-width: 414px;

// $pale-green: #AAC4BF;
// $dark-green: #337164;
// $darker-green: #2F675B;

$pale-green: #92A1BE;
$dark-green: #032A74;
$darker-green: rgb(1, 34, 95);

$search-input-height: 60px;
$header-height: 70px;
$timeline-height: 50px;

$legend-toggle-top: 20px;

$mobile-header-height: 50px;
$mobile-search-height: 60px;
$mobile-timeline-height: 50px;

$legend-toggle-mobile-top: 110px;
$legend-toggle-mobile-size: 15px;

$standard-icon-size: 16px;
$probe-button-height: 38px;

$hint-probe-height: 38px;

$standard-button-background: #eee;
$standard-button-background-hover: #ccc;

$standard-button-color-hover: #333;

$dark-button-background: #999999;
$dark-button-background-hover: #909090;

$stepper-color: #666;
$stepper-color-hover: #333;
$stepper-color-disabled: #ccc;

$fixed-probe-padding: 20px;

@mixin mobile-back-arrow() {
  color: $dark-green;
  font-weight: bold;
  font-size: 24px;
}